[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
